body {
    font-family: 'Abel', cursive;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
    overflow:hidden;
    margin:0;
    padding:0;
    background-color:#EFDEB0;
    position:relative;
    top:-1%;
    border-top:2px solid #CC9933;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    overflow:hidden;
    margin:0;
    padding:0;
    background-color:#FFFFEE;

}
body >#mainbody{
    height:95%;
    width:100%;
}
body >#mainbody>#UI{
    max-height:750px;
    position:relative;
    border-top:2px solid #366CA3;
    border-bottom:2px solid #366CA3
}
body>#mainbody>#UI>#loading{
    font-size:64px;
    position:absolute;
    left:40%;
    right:40%;
    top:40%;
    background-color:orange
}
body>#mainbody>#UI>#progress{
    font-size:14px;
    position:absolute;
    left:40%;
    right:40%;
    top:80%;
    background-color:orange
}
body>#footer{
    text-align: center;
    min-width: 100%;
    display: inline-block;
    background-color: white;
    position:absolute;
    height:13px;
    width:100%;
    bottom:0%;
    font-size:8pt
}

h3{
    padding-bottom: 5px;
    border-bottom: solid 2px #737373;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
    margin-left: 5%;
}

span{

    word-wrap: normal;

}

.cursiveHeadline {
    font-family: 'Hanalei Fill', cursive;
    margin-left: 10%;
}
.ex {
    width:80%;
    height:130px;
    margin:0 0 0 10%;
    border:1px solid black;
}

.ei {
    float: left;
    height:100%;
    width:80%;
}

.eo {
    position: relative;
    left:80%;
    top:0;
    height:100%;
    width:19%;
    font-family: monospace;
    font-size: 125%;
    white-space: pre-wrap;
    padding-left:1%;
    border-left:1px solid gray;
}

.eo>div {
    position:absolute;
}

.rp {
    margin:10px 40px 10px 40px;
}

tt {
    font-size: 16px;
}


.pseudo {
    font-family: monospace;
    white-space: pre-wrap;
    margin: 10px 0px 10px 15%;
}

#buttons {
    width:75% !important;
    position:absolute;
    left:1.5% !important;
    bottom:3%;
    height: 12%;
}

#insertButtons {
    height:100%;
}

button {
    height:80%;
}



.ace_xbutton {
    float:right;
    margin:6px 0px;
}

.ace_uparrow {
    float:right;
    margin:0px 0px 0px 0;
}

.ace_downarrow {
    float:right;
    margin:0px 0px 0 0;
}

.ace_editor {
    position: relative !important;
    border-bottom: 1px solid lightgray;
    height: 80%;
    width: 100%;
}

#codeEditor>.ace_editor {
    position: relative !important;
    border: 1px solid lightgray;
    height: 80%;
    width: 97%;
    margin: 1.5% 0 0 1.5%;
}

.game_visual {
    float: right;
}

.pop-up-container {
    border-radius: 5px;
    position: absolute;
    display:none;
    height: 20px;
    max-height: 22px;
    background: #ffffff;
    color: #000000;
    border: 1px solid #1a1a1a;
    z-index: 100;
    box-shadow: -10px -10px 10 0 black;
    min-width: 100px;
}

.pop-up-inside {
    border-radius: 5px;
    display: inline-block;
    position: relative;
}

input.pop-up-inside {
    padding: 0;
    border-width: 0;
    margin: 0 1px 0 1px;
    height: 20px;
    width: 40px;
    text-align: center;
}

button.pop-up-inside {
/*#editLine {*/
    padding: 0 6px 0 6px;
    border-width: 0 2px 0 2px;
    margin-left: 2px;
    background-color: lightgreen;
}

.game-selection {
    width: 90%;
    margin-left: 5%;
    margin-right: auto;
    min-height: 32px;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
    border: 1px dashed orange;
    background-color: #FF9C00;
    text-align: center;
    font-family: Monospace;
    cursor: pointer;
}

.bottom-footer{
    text-align: center;
    min-width: 100%;
    display: inline-block; 
    background-color: white;
    position:absolute;
    height:13px;
    width:100%;
    bottom:1%;
    font-size:8pt
}

.level-item{
    width:0%;
    height:0px;
    padding:0px;
    margin: 0px;
    opacity:0.0;
    display:inline-block;
    white-space:nowrap;
    border: double black;
    background-color:#177CB0;
    font-family:Monospace;
    cursor:pointer;
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: normal;  
}

.level-item:hover{
    background-color:#415065;
}



.level-item-toggle{
    width:30%;
    height:auto;
    padding:5px;
    margin: 2px;
    opacity:1.0;

}

.span-div{
    height:0px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.span-div-toggle{
    height:43px;

}




#mainbody{
    height:95%;
    width:100%;
    position:relative;
}

#UI{
    height:95%;
    width:100%;
    max-height:750px;
    position:relative;
    border-top:2px solid #737373;
    border-bottom:2px solid #737373;
}

#gameSelection{
    height:100%;
    overflow-y:auto;
    width:100%;
    position:relative;
    font-size:20px;
}

span.ui-inline-check{
    display: inline-block;
    margin-right: 8px;
}

.menu_div{ 
    position: relative;
    z-index: 1;
    width: 1000px;
    height: 2.55556em;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0px;
    margin-top: 0px;
    cursor: default;
    text-align: justify;
    padding-left: 1%;
}

.menu_item{
    margin: 0;
    list-style-type: none;
    height: 2.55556em;
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4px;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0px 0px 1px gray, 0 0 3px 0px white;
    }
    50% {
        -webkit-box-shadow: 0px 0px 5px 3px gray, 0 0 3px 3px gray;

    }
    100% {
        -webkit-box-shadow: 0px 0px 1px gray, 0 0 3px 0px white;

    }
}

.menu_item > img:hover{
    -webkit-animation-name: pulse;  
    -webkit-animation-:iteration-count: infinite;  /* keep running*/
    -webkit-animation-:timing-function: linear;  /* no easing */
    -webkit-animation-duration: 1s;  /* takes 1 second */
    cursor: pointer;
}

.menu_headline{
    margin: 0;
    list-style-type: none;
    height: 2.55556em;
    vertical-align: top;
    display: inline-block;
    margin-top: 4px;
    margin-left: 25px;
    margin-right: 25px;
}


li span{
    color: black;
    font-size: 150%;

}

#progress_carousel{
    display: inline-block;
    height: 2.55556em;
    width: 80%;
    position: absolute;
    float: right;
    margin-left: 25px;
}

a.carousel-control{
    width: 5%;
}

.progress{
    width: 90%;
    float: right;
    margin-right: 5%;
    margin-top: 1%;
}



a.tooltip {
    outline:none;
    opacity: 100;
    position: static;

}
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;}

a.tooltip span.span1 {
    position:absolute;bottom:13%;left:78%;display:none;z-index:10
}

a.tooltip span.span2 {
    position:absolute;bottom:13%;left:78%;display:none;z-index:10
}

a.tooltip span.span3 {
    position:absolute;bottom:13%;left:91%;display:none;z-index:10
}

a.tooltip:hover span{
    display:inline;position:absolute;
    border:2px solid #FFF;  color:#EEE;
    background:#333 url(cssttp/css-tooltip-gradient-bg.png) repeat-x 0 0;
}
    
/*CSS3 extras*/
a.tooltip span
{
    border-radius:2px;        
    box-shadow: 0px 0px 8px 4px #666;
    /*opacity: 0.8;*/
}

