#gameSelection { /* */
    left: 5%;
}

body {
    font-family: 'Abel', cursive;
	background: url(../img/interface/grainger.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
    height:95%;
    width:100%;
    overflow:hidden;
    margin:0;
    padding:0;
    background-color:#FFFFEE;
    position:relative;
    top:-1%;
    border-top:2px solid #CC9933;
    margin:0;
    padding:0
}
body >#mainbody{
    height:95%;
    width:100%;
}
body >#mainbody>#UI{
    max-height:750px;
    position:relative;
    top:7.5%;
    border-top:2px solid #366CA3;
    border-bottom:2px solid #366CA3
}
body>#mainbody>#UI>#loading{
    font-size:64px;
    position:absolute;
    left:40%;
    right:40%;
    top:40%;
    background-color:orange
}
body>#mainbody>#UI>#progress{
    font-size:14px;
    position:absolute;
    left:40%;
    right:40%;
    top:80%;
    background-color:orange
}
body>#footer{
    text-align: center;
    min-width: 100%;
    display: inline-block;
    background-color: white;
    position:absolute;
    height:13px;
    width:100%;
    bottom:0%;
    font-size:8pt
}

.cursiveHeadline {
    font-family: 'Hanalei Fill', cursive;
}
.ex {
    width:80%;
    height:130px;
    margin:0 0 0 10%;
    border:1px solid black;
}

.ei {
    float: left;
    height:100%;
    width:80%;
}

.eo {
    position: relative;
    left:80%;
    top:0;
    height:100%;
    width:19%;
    font-family: monospace;
    font-size: 125%;
    white-space: pre-wrap;
    padding-left:1%;
    border-left:1px solid gray;
}

.eo>div {
    position:absolute;
}

.rp {
    margin:10px 40px 10px 40px;
}

tt {
    font-size: 16px;
}


.pseudo {
    font-family: monospace;
    white-space: pre-wrap;
    margin: 10px 0px 10px 15%;
}

#buttons {
    width:75% !important;
    position:absolute;
    left:1.5% !important;
    bottom:3%;
    height: 12%;
}

#insertButtons {
    height:100%;
}

button {
    height:80%;
}

.ace_xbutton {
    float:right;
    margin:6px 0px;
}

.ace_uparrow {
    float:right;
    margin:0px 0px 0px 0;
}

.ace_downarrow {
    float:right;
    margin:0px 0px 0 0;
}

.ace_editor {
    position: relative !important;
    border-bottom: 1px solid lightgray;
    height: 80%;
    width: 100%;
}

#codeEditor>.ace_editor {
    position: relative !important;
    border: 1px solid lightgray;
    height: 80%;
    width: 97%;
    margin: 1.5% 0 0 1.5%;
}

.game_visual {
    float: right;
}

.pop-up-container {
    border-radius: 5px;
    position: absolute;
    display:none;
    height: 20px;
    max-height: 22px;
    background: #ffffff;
    color: #000000;
    border: 1px solid #1a1a1a;
    z-index: 100;
    box-shadow: -10px -10px 10 0 black;
    min-width: 100px;
}

.pop-up-inside {
    border-radius: 5px;
    display: inline-block;
    position: relative;
}

input.pop-up-inside {
    padding: 0;
    border-width: 0;
    margin: 0 1px 0 1px;
    height: 20px;
    width: 40px;
    text-align: center;
}

button.pop-up-inside {
/*#editLine {*/
    padding: 0 6px 0 6px;
    border-width: 0 2px 0 2px;
    margin-left: 2px;
    background-color: lightgreen;
}