body {
    font-family: 'Abel', cursive;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
    overflow:hidden;
    margin:0;
    padding:0;
    background-color:#EFDEB0;
    position:relative;
    top:-1%;
    border-top:2px solid #CC9933;
    margin:0;
    padding:0;

}
body >#mainbody{
    height:95%;
    width:100%;
}
body >#mainbody>#UI{
    max-height:750px;
    position:relative;
    top:7.5%;
    border-top:2px solid #366CA3;
    border-bottom:2px solid #366CA3
}
body>#mainbody>#UI>#loading{
    font-size:64px;
    position:absolute;
    left:40%;
    right:40%;
    top:40%;
    background-color:orange
}
body>#mainbody>#UI>#progress{
    font-size:14px;
    position:absolute;
    left:40%;
    right:40%;
    top:80%;
    background-color:orange
}
body>#footer{
    text-align: center;
    min-width: 100%;
    display: inline-block;
    background-color: white;
    position:absolute;
    height:13px;
    width:100%;
    bottom:0%;
    font-size:8pt
}

h3{
    padding-bottom: 5px;
    border-bottom-style: solid;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
    margin-left: 5%;
}

span{
    word-wrap:normal;
}

.cursiveHeadline {
    font-family: 'Hanalei Fill', cursive;
    margin-left: 10%;
}
.ex {
    width:80%;
    height:130px;
    margin:0 0 0 10%;
    border:1px solid black;
}

.ei {
    float: left;
    height:100%;
    width:80%;
}

.eo {
    position: relative;
    left:80%;
    top:0;
    height:100%;
    width:19%;
    font-family: monospace;
    font-size: 125%;
    white-space: pre-wrap;
    padding-left:1%;
    border-left:1px solid gray;
}

.eo>div {
    position:absolute;
}

.rp {
    margin:10px 40px 10px 40px;
}

tt {
    font-size: 16px;
}


.pseudo {
    font-family: monospace;
    white-space: pre-wrap;
    margin: 10px 0px 10px 15%;
}



#insertButtons {
    height:100%;
}



.ace_xbutton {
    float:right;
    margin:6px 0px;
}

.ace_uparrow {
    float:right;
    margin:0px 0px 0px 0;
}

.ace_downarrow {
    float:right;
    margin:0px 0px 0 0;
}

.ace_editor {
    position: relative !important;
    border-bottom: 1px solid lightgray;
    height: 80%;
    width: 100%;
}

#codeEditor>.ace_editor {
    position: relative !important;
    border: 1px solid lightgray;
    height: 80%;
    width: 97%;
    margin: 1.5% 0 0 1.5%;
}

.game_visual {
    float: right;
}

.pop-up-container {
    border-radius: 5px;
    position: absolute;
    display:none;
    height: 20px;
    max-height: 22px;
    background: #ffffff;
    color: #000000;
    border: 1px solid #1a1a1a;
    z-index: 100;
    box-shadow: -10px -10px 10 0 black;
    min-width: 100px;
}

.pop-up-inside {
    border-radius: 5px;
    display: inline-block;
    position: relative;
}

input.pop-up-inside {
    padding: 0;
    border-width: 0;
    margin: 0 1px 0 1px;
    height: 20px;
    width: 40px;
    text-align: center;
}

button.pop-up-inside {
/*#editLine {*/
    padding: 0 6px 0 6px;
    border-width: 0 2px 0 2px;
    margin-left: 2px;
    background-color: lightgreen;
}

.game-selection {
    width: 90%;
    margin-left: 5%;
    margin-right: auto;
    min-height: 32px;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
    border: 1px dashed orange;
    background-color: #FF9C00;
    text-align: center;
    font-family: Monospace;
    cursor: pointer;
}

.bottom-footer{
    text-align: center;
    min-width: 100%;
    display: inline-block; 
    background-color: white;
    position:absolute;
    height:13px;
    width:100%;
    bottom:0%;
    font-size:8pt
}

.level-item{
    width:0%;
    height:0px;
    padding:0px;
    margin: 0px;
    opacity:0.0;
    display:inline-block;
    white-space:nowrap;
    border: double black;
    background-color:#177CB0;
    font-family:Monospace;
    cursor:pointer;
    overflow: hidden;  
    word-wrap: normal;  
}

.level-item:hover{
    background-color:#415065;
}

.level-item-toggle{
    width:30%;
    height:auto;
    padding:5px;
    margin: 2px;
    opacity:1.0;

}

.span-div{
    height:0px;
}

.span-div-toggle{
    height:43px;

}




#mainbody{
    height:95%;
    width:100%;
    border-top:2px solid #CC9933;
    position:relative;
    top:-1%;
}

#UI{
    height:95%;
    width:100%;
    max-height:750px;
    position:relative;
    top:7.5%;
    border-top:2px solid #366CA3;
    border-bottom:2px solid #366CA3;
}

#gameSelection{
    height:100%;
    overflow-y:auto;
    width:100%;
    position:relative;
    font-size:20px;
}